<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Meeting Rooms</h1>
  <% if current_user.admin? %>
    <%= link_to "Add New Room", new_room_path, class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row">
  <% @rooms.each do |room| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= room.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Capacity: <%= room.capacity %> people</h6>
          <p class="card-text"><%= room.description %></p>
          <%= link_to "View Details", room_path(room), class: "btn btn-info btn-sm" %>
          <%= link_to "Book This Room", new_room_booking_path(room), class: "btn btn-success btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>